.header-page {
  background-color: #000;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 43px 0;
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 36%;
    @include mobile {
      order: 2;
      width: 20%;
    }
  }
  &__left > div {
    &:first-child {
      margin-right: 5%;
    }
  }
  &__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28%;
    @include mobile {
      order: 1;
      width: 100%;
      margin-bottom: 25px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 36%;
    @include mobile {
      order: 3;
      width: 80%;
    }
  }
}

.header-page.scroll {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  .header-page__center {
    display: none;
  }
  .panel-buttons__delivery {
    display: block;
    @include mobile {
      display: none;
    }
  }
  .header-page__container {
    padding: 22px 0;
  }
  .header-page__right {
    width: 50%;
    @include mobile {
      width: auto;
    }
  }
}

.main-menu {
  display: flex;
  align-items: center;
  & > a:active,
  a:link,
  a:visited {
    color: #b7b6b5;
  }
  & > a:hover {
    color: #fff;
  }
  &__link {
    display: flex;
    align-items: center;
    height: 20px;
    @include link {
      color: #b7b6b5;
    }
    &:hover {
      & > svg {
        fill: #fff;
      }
    }
  }
  &__link > span {
    vertical-align: middle;
    font-size: 13px;
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  &__link > svg {
    margin-right: 15px;
    fill: #9d9d9d;
  }
  &__link-catalog {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
    &:hover {
      color: #fff !important;
    }
  }
}

.main-phone {
  display: flex;
  @include mobile {
    display: none;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include link {
      color: #b7b6b5;
    }
    &:hover {
      color: #fff;
      & > svg {
        fill: #fff;
      }
    }
  }
  &__link > span {
    vertical-align: middle;
    position: relative;
    top: 1px;
    font-size: 13px;
  }
  &__link > svg {
    margin-right: 15px;
    fill: #9d9d9d;
  }
}

.main-logo {
  margin: 0 auto;
}

.main-logo > a {
  display: block;
  height: 100%;
}

.main-logo > a > img {
  width: 100%;
  height: auto;
}
