.reviews {
  @include mobile {
    width: 100%;
  }
  &__left {
    margin-right: 255px;
    @include mobile {
      margin-right: 0;
    }
  }
  &__title {
    margin-bottom: 35px;
    color: #2b2a29;
    font-size: 24px;
    span {
      color: #807f7d;
    }
    a {
      @include link {
        color: #807f7d;
        font-size: 24px;
        text-decoration: none;
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    @include not-last {
      margin-bottom: 40px;
    }
  }
  &__person {
    margin-right: 24px;
    text-transform: uppercase;
    color: #2b2a29;
    font-size: 14px;
    font-weight: bold;
    @include mobile {
      width: 50%;
      margin-right: 0;
    }
  }
  &__data {
    margin-right: auto;
    color: #807f7d;
    font-size: 14px;
    @include mobile {
      width: 50%;
      text-align: right;
    }
    & > span:first-child {
      margin-right: 15px;
    }
  }
  &__rating {
    @include mobile {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }
  &__text {
    width: 100%;
    margin-top: 25px;
    & > p {
      margin-top: 0;
      font-size: 14px;
      line-height: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__form-group {
    margin-bottom: 15px;
    & > input,
    textarea {
      width: 305px;
      height: 36px;
      padding: 0 25px;
      color: #6d6b6a;
      border: 0;
      background-color: #d5d5d5;
      font-size: 12px;
      @include mobile {
        width: 100%;
      }
    }
    & > textarea {
      height: 75px;
      padding: 15px 25px;
    }
    &--rating {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
      & > span {
        margin-right: 20px;
        color: #6d6b6a;
        font-size: 12px;
      }
    }
    &--send {
      margin-top: 25px;
      & > input {
        width: 100%;
        @include btn;
        display: block;
      }
    }
  }
}

.reviews .rev-btn {
  display: block;
  line-height: 36px;
  text-align: center;
}
