<div id="melle-blocks-{{moduleId}}" class="melle-blocks row">

    {% for b in blocks %}
        {{b}}
    {% endfor %}

</div>

<style>
#melle-blocks-{{moduleId}} {
    height: {{height}}px!important;
}
</style>