<div id="melle-blocks-{{moduleId}}" class="pb-4 pb-md-5 melle-blocks col-md-{{width}}">
    {# style="{% if backgroundColor %}background-color:{{backgroundColor}};{% endif %}" #}

    <div class="row">
        {% for b in blocks %}
            {{b}}
        {% endfor %}
    </div>

</div>
