.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sublime-workspace
*.code-workspace
*.phpintel

# Opencart
system/storage/modification*
system/storage/cache*
system/storage/download*
system/storage/logs*
system/storage/upload*
system/storage/session*
image/cache*
install/*
php.ini*

# ---------------------------------------------------------------------------------------------------------
image/catalog*
admin/view/stylesheet/bootstrap.css
