.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sublime-workspace
*.code-workspace
*.phpintel

# Opencart
install/*
image/cache/*
!image/cache/index.html
system/storage/cache/*
!system/storage/cache/index.html
system/storage/download/*
!system/storage/download/index.html
system/storage/logs/*
!system/storage/logs/index.html
system/storage/modification/*
!system/storage/modification/index.html
system/storage/session/*
!system/storage/session/.htaccess
!system/storage/session/index.html
system/storage/upload/*
!system/storage/upload/index.html

# robot
robots.txt

# ---------------------------------------------------------------------------------------------------------
image/catalog/import_files/*
admin/view/stylesheet/bootstrap.css
catalog/view/theme/*/stylesheet/bootstrap.css
get_url.js
get_url_pvz.js
opt
*.csv
*.xls*

system/logs/*
php.ini*
catalog/view/javascript/melle/dist*
