# Options +FollowSymlinks

# Prevent Directoy listing
Options -Indexes

# Order deny,allow
# Deny from all
# Allow from 134.249.231.103

# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|.twig|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
</FilesMatch>

# SEO URL Settings
RewriteEngine On
# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

#RM SLASH
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ http://melle.online/$1 [R=301,L]

#INDEX REDIRECT

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://melle.online/ [R=301,L] 

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ http://melle.online/ [R=301,L] 


#INDEX REDIRECT

# REDIRECTS FROM OLD SITE START
RewriteCond %{REQUEST_URI} ^/catalog
RewriteCond %{QUERY_STRING} CatalogFilterForm
RewriteRule (.*) / [R=301,L]

RewriteCond %{REQUEST_URI} ^/catalog$
RewriteRule (.*) / [R=301,L]

RewriteCond %{REQUEST_URI} ^/search
RewriteCond %{QUERY_STRING} q=%D0%BD%D0%BE%D1%81%D0%BA%D0%B8
RewriteRule (.*) /noski [R=301,L]

RewriteCond %{REQUEST_URI} ^/search
RewriteCond %{QUERY_STRING} q=%D0%BA%D0%BE%D0%BB%D0%B3%D0%BE%D1%82%D0%BA%D0%B8
RewriteRule (.*) /kolgotki [R=301,L]

RewriteCond %{REQUEST_URI} ^/search
RewriteCond %{QUERY_STRING} q
RewriteRule (.*) / [R=301,L]
# REDIRECTS FROM OLD SITE END

RewriteBase /
RewriteRule ^sitemap.xml$ index.php?route=extension/feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=extension/feed/google_base [L]
RewriteRule ^system/storage/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)

# REMOVE SLASH AT THE END START
# RewriteRule ^(.*)/$ /$1 [L,R=301]
# REMOVE SLASH AT THE END END

RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]

# Exception: Images
SetEnvIfNoCase REQUEST_URI \.(?:gif|jpg|jpeg|png)$ no-gzip dont-vary

# Drop problematic browsers
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html