{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.twig",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
