.news__item-data {
  color: #807f7d;
  font-size: 0.8rem;
}

.news__item-title {
  color: #2b2a29;
  font-size: 1rem;
  font-weight: 700;
}

.news__item-description {
  color: #2b2a29;
  font-size: 0.8rem;
}

.news__item-link:link,
.news__item-link:visited,
.news__item-link:active,
.news__item-link:hover {
  text-decoration: underline;
  color: #2b2a29;
}

.news-one__news-data {
  color: #807f7d;
  font-size: 0.8rem;
}
