.main-page--error {
  height: 700px;
  background-size: cover;
  background-image: url(./../image/404_s.jpg);

  @media (min-width: 768px) {
    background-image: url(./../image/404_m.jpg);
  }

  @media (min-width: 992px) {
    background-image: url(./../image/404.jpg);
  }
}

.error-page {
  position: relative;
  .error-button {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
