.melle-blocks {

  @media (min-width: 1200px) {
    &:nth-child(1) {
      padding-right: 15px;
      padding-left: 30px;
    }

    &:nth-child(2) {
      padding-right: 30px;
      padding-left: 15px;
    }
  }

  .melle-block {
    .text {
      font-size: 1rem;
    }

    .background-container {
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: cover;
      position: relative;

      img {
        display: none;
      }
    }
  }

  .melle-block-type-1 {
    .text {
      font-size: 1rem;
      font-weight: bold;
    }
    .sub-text {
      font-size: 0.9rem;
    }
    img {
      box-shadow: 0px 6px 174px 0px rgba(0, 0, 0, 0.15);
    }

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: 1200px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .melle-block-type-2 {
    @media (max-width: 576px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    .inner-content {
      position: absolute;
      bottom: 3rem;
    }
    .text {
      color: #fff;
      font-size: 3rem;
      line-height: 2.8rem;

      @media (min-width: 992px) {
        font-size: 4rem;
        line-height: 3rem;
      }
    }
  }

  .melle-block-type-3 {
    .inner-content {
      position: absolute;
    }
    .text {
      color: #fff;
      font-size: 2.5rem;
      line-height: 2.3rem;

      @media (min-width: 992px) {
        font-size: 3rem;
        line-height: 2.8rem;
      }
    }
    &:first-child {
      @media (min-width: 576px) {
        padding-bottom: 30px;
      }
    }

    @media (max-width: 768px) {
      margin-top: 1.5rem;
    }
  }

  .melle-block-type-4 {
    @media (max-width: 576px) {
      &:first-child {
        padding-top: 1.5rem;
      }
      &:nth-child(2) {
        padding-bottom: 1.5rem;
      }

      & + .melle-block-type-4 {
        padding-top: 1rem;
      }
    }

    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: 1200px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    &:nth-child(3) {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
