.search {
  min-width: 25%;

  .search-bar-wrapper {
    height: 30px;
    position: relative;

    @media (min-width: 768px) {
      height: 40px;
    }

    .search-bar-form {
      border-radius: 20px;
      border: 2px solid $white-color;
      box-sizing: border-box;
      background: $white-color;

      .search-input-wrapper {
        position: relative;
        flex: 1;
        background: none;

        input[name='search'],
        input[name='query'] {
          flex: 1;
          border: none;
          color: $black-color;
          font-size: 1rem;
          outline: none;
          background: transparent;
          width: calc(100% - 0.5px);
          padding-left: 1rem !important;
          padding-right: 1rem !important;

          @media (min-width: 768px) {
            font-size: inherit;
          }
        }
      }

      .search-button-wrapper {
        width: 66px;
        margin: 2px 0px 0px 0px;

        button {
          background: $white-color;
          color: $black-color;
          border: $white-color;
        }
      }
    }

    .search-autocomplete-items-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
      z-index: 50;
      border-radius: 3px;
      pointer-events: none;

      @media (min-width: 768px) {
        min-width: 500px;
      }

      .search-prefix {
        height: 42px;
        background: transparent;
      }

      .search-suggestions {
        background: $white-color;
        pointer-events: all;
        padding: 5px 10px;

        @media (min-width: 768px) {
          padding: 5px 10px;
        }

        .suggestions-item {
          text-decoration: none;
          display: flex;
          font-size: 12px;
          line-height: 1.25;
          color: $black-color;
          position: relative;
          cursor: pointer;
          margin-top: 1px;
          align-items: center;
          padding: 12px 12px 12px 0;

          @media (min-width: 768px) {
            font-size: 16px;
          }

          &:focus,
          &:hover {
            background: #e5efff;
          }
        }
      }
    }
  }

  &.search-mobile {
    .search-bar-wrapper {
      position: initial;

      .search-bar-form {
        .search-input-wrapper {
          input[name='search'],
          input[name='query'] {
            height: initial;
          }
        }
      }
      .search-autocomplete-items-wrapper {
        box-shadow: none;
        top: 10%;
        @media (min-width: 768px) {
          top: 25%;
        }
      }
    }
  }
}

.ais-PoweredBy {
  font-size: 0.7rem;
  text-align: right;
}

.ais-Pagination-list {
  justify-content: center;
}

.ais-Pagination-item,
.ais-Pagination-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ais-Pagination-item {
  height: 38px;
  width: 38px;
}

.ais-Pagination-item {
  background-color: rgba(65, 66, 71, 0.08);
  border-radius: 4px;
  color: #414247;
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: 5px;
}

.ais-Pagination-item--selected {
  background-color: #2b2a29;
  font-weight: bold;

  .ais-Pagination-link {
    color: #fff;
  }
}

.ais-Pagination-item--firstPage,
.ais-Pagination-item--previousPage,
.ais-Pagination-item--nextPage,
.ais-Pagination-item--lastPage {
  background: none;
  display: none;
  @media (min-width: 1200px) {
    display: inline-flex;
  }
}

.ais-Pagination-item--disabled {
  opacity: 0.33;
}

.ais-Pagination-item--selected a {
  color: #fff;
}

.ais-Pagination-item.ais-Pagination-item--page {
  margin-right: 4px;
}

.ais-Pagination-item.ais-Pagination-item--previousPage {
  margin-right: 1rem;
}

.ais-Pagination-item.ais-Pagination-item--nextPage {
  margin-left: calc(1rem - 4px);
}

.ais-Pagination-link {
  height: 100%;
  width: 100%;
}
