
.basket-send-wrap {
    position: relative;
    float: none;
    margin: 0 auto;
    padding: 70px 90px;
    color: #000;
    background: #fff
}

.box-modal_close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer
}
section[data-layout="col"] .catalog__item {height: initial !important;}
section[data-layout="col"] .catalog__item-info {bottom: 2px !important;}

section[data-layout="col"] .catalog__item.new:after {
    /*top: 13vw !important;*/
    right: 0;
}

.reviews .reviews__left {display: none}
.reviews .reviews__right {display: none}

.reviews.on .reviews__left {display: block}
.reviews.on .reviews__right {display: block; margin-top: 25px;}
.reviews {position: relative}
.rev-btn {
    width: 305px;
    height: 36px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
    background: #2b2a29;
    flex: none;
    position: relative;
    right: 0;
    top: 0;
}
.rev-btn:hover {background: #000}
.reviews .rev-btn {display: flex}
.reviews.on .rev-btn {display: none}

@media (max-width: 1199px) {
    section[data-layout="col"] .catalog__list {
        text-align: center
    }

    section[data-layout="col"] .catalog__item {
        max-width: 365px;
        overflow: hidden;
    }
    .breadcrumbs__inner > span {padding: 0 15px !important;}
    .breadcrumbs__inner > a:not(:first-child) {padding: 0 !important;}
    .breadcrumbs__inner > span:last-child {padding: 0 !important;}
    .breadcrumbs__inner > a {padding: 0 !important;}
}
@media (max-width: 767px) {
    .mail-us {padding-top: 60px}
    .breadcrumbs {margin-top: 13px !important;    margin-bottom: 13px !important;}
    .filter-cat__name {margin-bottom: 13px !important;}
    .panel-grid {
        margin-top: 13px !important;
    }
    .filter-cat__button {
        margin-bottom: 13px !important;
    }
    section[data-layout="col"] .catalog__item-wrap {width: 98% !important;}
    section[data-layout="col"] .catalog__list {margin-top: 25px !important;}
    .breadcrumbs__inner {justify-content: center !important;}
    section[data-layout="col"] .catalog__item:not(:nth-child(3n+3)) {
        margin-right: 0 !important;
    }
    .sidebar-popup {position: absolute !important;}
    .sidebar-popup__content {
        padding: 29px 15px !important;
    }
    .prod-card__list-photo {display: none !important;}

    /*.search-modal__input {border-radius: 0 !important;}*/
    /*!*.sidebar-popup__content {padding: 0 !important;}*!*/
    /*.search-modal {width: 100% !important;  margin: 0 auto}*/
    /*.sidebar-popup__content {right: initial !important; left: 0}*/
    /*.sidebar-popup {width: 100% !important; background: #fff !important;}*/
}

/* PRAVKI */
.filter__relevant-category {
    justify-content:space-between;
}
.search-modal__filter.filter form label {
    align-items:flex-start;
}
.filter form input[type="checkbox"] + span {
    margin-top:2px;
}
footer .up {
    /*display:block;*/
    position:fixed;
    right:20px;
    bottom:20px;
}
