{{ header }}
<main class="main-page main-page--error">
   <section class="error-page w-100 h-100">
      <a href="#" class="error-button btn btn-dark">На главную </a>
   </section>
</main>
{{ footer }}
