{{ header }}
<main class="main-page main-page--error">
   <section class="error-page">
      <div class="error-page__container container">
         <a href="#" class="error-page__link">На главную</a>
      </div>
   </section>
</main>
{{ footer }}
