.news-one {
  &__title {
    margin-bottom: 40px;
    color: #2b2a29;
    font-size: 24px;
  }
  &__news {
    @include clearfix;
    &-img {
      float: left;
      width: 458px;
      height: 332px;
      margin-right: 30px;
      margin-bottom: 40px;

      @include mobile {
        float: none;
        height: auto;

        widows: 100%;
      }
    }
    &-data {
      height: 15px;
      margin-bottom: 11px;
      color: #807f7d;
      font-size: 14px;

      @include clearfix;
    }
    p {
      color: #2b2a29;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}
