/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1570px) {

  .section-5 footer .title-footer {
    padding: 30px 0;
    font-size: 16px;
  }

  .section-5 footer .footer-menu-block .footer-menu a {
    font-size: 14px;
  }

  .section-5 footer {
    width: 100%;
  }

  .header-page__logo {
    padding-top: 13px;
    width: 244px;
    /*margin-right: 15px;*/
  }
    .header-page__bottom-line{
        text-align: left;
    }

  .header-page__container .top-line li,
  .header-page__bottom-line > li {
    margin-right: 0px!important;
  }

  .header-page__container .top-line,
  .header-page__bottom-line {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .header-page__container {
    width: 90%;
    padding-left: 0;
    /*margin-left: -585px;*/
  }

  .header-page__top-line {
    width: 73%;
  }

  .header-page__bottom-line li ul {
    width: 955px;

  }

  .header-page__bottom-line > li a {
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
  }


  .header-page__container .top-line a {
    font-size: 14px;
  }

  .header-page__bottom-line li ul li {
    width: 25%;
  }

  .header-page__basket {
    top: 0;
  }

  .header-page__basket svg {
    width: 65px!important;
    height: 65px!important;
  }

  .search-block {
    width: 230px;
  }

  .search-block input[type="search"] {
    width: 190px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

  .made-in-desc {
    display: none;
  }

  .made-in-mob {
    display: block;
  }

  .section-5 footer .subscribe-block .insta,
  .section-5 footer .subscribe-block .fb {
    margin: 0 20px 10px;
  }

  .section-5 footer .subscribe-block .insta {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }

  .section-5 footer .subscribe-block .fb {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }

  .section-5 footer .subscribe-block .button {
    -webkit-order: 3;
    -ms-order: 3;
    order: 3;
  }

  .section-5 footer .subscribe-block .made-in {
    -webkit-order: 4;
    -ms-order: 4;
    order: 4;
  }

  .section-5 footer .subscribe-block {
    width: 400px;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .section-5 footer .footer-menu-block .footer-menu {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .section-5 footer .footer-menu-block .footer-menu a {
    display: block;
    padding: 10px;
  }

  .section-5 footer {
    width: 100%;
    padding: 0 15px;
  }

  .section-4 .popular-product-list li .photo-block {
    height: 55vh;
  }

  .section-4 .popular-product-list li .title {
    padding: 10px 0 10px;
  }

  .section-4 .popular-product-list li .price {
    padding-bottom: 10px;
  }

  .section-5 footer .title-footer {
    display: none;
  }

  /*.section-5, .section-5 > div {
      height: 100% !important;
  }*/

  .section-4 .popular-product-list li .photo-block,
  .section-4 .popular-product-list li .photo-block:hover {
    background-size: cover;
  }

  .header-page__container {
    width: 950px;
    /*margin-left: -475px;*/
  }

  .header-page__logo {
//    width: 150px;
  }

  .header-page__bottom-line li ul {
    width: 720px;
  }

  .header-page__bottom-line li ul li {
    width: 50%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .header-page__logo {
    margin-right: 0;
    margin-top: 7px;
  }

  .header-page__phone svg,
  .header-page__mail svg {
    top: 1px;
  }

  .mob-icon-user svg {
    height: 22px;
    position: relative;
    top: 1px;
  }

  .header-page__phone svg {
    left: 0;
    margin-right: 0;
  }

  .header-page__container .top-line .menu-tel a {
       white-space: nowrap;
    width: 16px;
  }

  .search-block {
    width: 214px;
  }

  .search-block input[type="submit"] {
    width: 20px;
    background-size: 23px auto;
  }

  .header-page__container .top-line a {
    line-height: 14px;
  }

  .header-page__container .top-line .menu-enter {
    width: auto!important;
  }

  .header-page__basket svg {
    display: none;
  }

  .header-page__container .top-line .menu-enter a:not([class]) {
    display: none!important;
  }

  .header-page__container .top-line .menu-tel {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }

  .header-page__container .top-line .menu-mail {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }

  .header-page__container .top-line .menu-search {
    -webkit-order: 3;
    -ms-order: 3;
    order: 3;
  }

  .header-page__container .top-line .menu-enter {
    -webkit-order: 4;
    -ms-order: 4;
    order: 4;
  }

  .header-page__phone b {
    display: none;
  }

  .header-page__container .top-line .menu-pay,
  .header-page__container .top-line li:last-child a:not([class]) {
    display: none!important;
  }

  .mob-icon-user {
    display: block!important;
    fill: #fff;
  }

  .header-page__bottom-line {
    display: none;
  }

  #button-menu-mobile {
    display: block!important;
    top: 29px;
    left: 0px;
    margin-right: 0;
  }

  .header-page__top-line {
    width: 440px;
  }

  .menu-bascet {
    -webkit-order: 5;
    -ms-order: 5;
    order: 5;
    display: block!important;
  }

  .menu-bascet a svg {
    fill: #fff;
    width: 20px!important;
    height: 25px!important;
  }

  .header-page__container {
    padding-left: 55px;
    width: 700px;
    /*margin-left: -370px;*/
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /*.header-page {
      height: 90px;
  }

  .swiper-container {
      padding-top: 90px !important;
  }*/

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .footer-menu-block {
    height: 100%;
    display: flex;
    -webkit-flex-flow: wrap row;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  /*.header-page {
      height: 117px;
  }*/

  .header-page__logo {
//    width: 200px;
    margin-bottom: 5px;
  }

  #button-menu-mobile {
    top: 25px;
  }

  .section-5 footer .footer-menu-block {
    padding: 0;
    margin-top: 20px;
  }

  #button-menu-mobile {
    left: 15px;
  }

  .header-page__container .top-line {
    padding-top: 10px;
  }

  .header-page__top-line {
    width: 100%;
  }

  .header-page__container {
    flex-flow: nowrap column;
  }

  .header-page__container {
    position: relative;
    width: 100%;
    padding: 0px 15px;
    margin-left: 0!important;
    left: 0!important;
  }

  .popular-product-list {
    display: none !important;
  }

  .second-slider {
    display: block !important;
  }

  .section-4 .title-section {
    padding: 5px 0;
    font-size: 20px;
    line-height: 22px;
  }

  #fp-nav.right {
    right: 10px;
  }

  .section-5 footer,


  .section-5 footer .footer-menu-block .footer-menu {
    padding-bottom: 0;
  }

  .second-slider .owl-item div .more .button {
    height: 30px;
  }

  .second-slider .owl-item div .more span {
    line-height: 30px;
  }

  .second-slider .owl-item div .more span {
    font-size: 14px;
  }

  .footer-menu li {
    width: 100%;
  }

  .footer-menu li a {
    text-align: center;
  }

  .second-slider .owl-dots {
    bottom: 50px;
  }

  .section-5 footer .subscribe-block .button span {
    line-height: 40px;
  }

  .section-5 footer .footer-menu-block .footer-menu a {
    /*padding: 8px 10px;*/
    padding: 2vh 10px;
  }

  .header-page__phone svg,
  .header-page__mail svg {
    top: 0;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .made-in {
    padding-top: 0px;
  }

  .header-page {
    padding-bottom: 8px;
    flex: 0 0 auto;
    height: auto;
    background-color: #000;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100%;
  }

 .header-page:before {
    content: '';
//    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

  #button-menu-mobile {
    top: 35px; 
  }

  .header-page__logo {
    margin-bottom: 0px;
  }
 
  .section-2 .list-blocks,
  .section-3 .list-blocks {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-2 .list-blocks li,
  .section-3 .list-blocks li {
    width: 100%;
    height: 50%;
  }

  .section-4 .title-section {
    font-size: 20px;
    line-height: 22px;
  }

  .owl-carousel {
    height: 100%!important;
  }

  .second-slider .owl-item div .title {
    padding: 5px 0 10px;
  }

  .second-slider .owl-item div .photo-block {
    height: 47vh;
  }

  .second-slider .owl-item div .title {
    font-size: 18px;
    line-height: 20px;
  }

  .second-slider .owl-item div .description,
  .second-slider .owl-item div .price {
    font-size: 14px;
  }

  .second-slider .owl-item div .price b {
    font-size: 18px;
  }

  .section-5 footer .subscribe-block,
  .section-5 footer .subscribe-block::before {
    width: 100%
  }

  .section-5 footer .subscribe-block::before {
    margin-left: 0;
    left: 0;
    top: 0;
  }

  .section-5 footer .subscribe-block .button span {
    font-size: 14px;
  }

  .section-5 footer .subscribe-block .button {
    width: 100%;
  }

  .section-5 footer .subscribe-block .insta i,
  .section-5 footer .subscribe-block .fb i {
    font-size: 30px;
  }

  .second-slider .owl-item div .price,
  .second-slider .owl-item div .description {
    padding-bottom: 5px;
  }

  .search-block input[type="submit"] {
    width: 20px;
    background-size: 20px auto;
  }

  .search-block,
  .search-block input[type="submit"] {
    height: 18px;
  }

  .menu-bascet a svg {
    fill: #fff;
    width: 16px !important;
    height: 19px !important;
    position: relative;
    top: 4px;
  }

  .menu-enter svg {
    width: 14px;
  }

  .header-page__phone svg {
    width: 16px;
  }

  .header-page__mail svg {
    width: 22px;
  }

  #button-menu-mobile {
    font-size: 20px;
  }

  #button-menu-mobile {
    left: 10px;
  }

  .search-block input[type="search"] {
    width: 113px;
  }

  .search-block {
    width: 140px;
  }

  .header-page__top-line {
    width: 100%;
  }



  /*.section-5, .section-5 > div, .section-5 footer, .section-5 footer .footer-menu-block {
      height: 100vh!important;
  }*/

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
.topline>li>a{
    white-space: nowrap;
}