.news {
  padding-bottom: 30px;
  &__title {
    margin-bottom: 34px;
    color: #2b2a29;
    font-size: 24px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    &+.pagination__wrap {
      margin-top: 0;
    }
  }
  &__item {
    display: inline-block;
    width: 22%;
    margin-bottom: 60px;
    vertical-align: top;
    font-size: 14px;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 48%;
      &:not(:nth-child(2n+2)) {
        margin-right: 4%;
      }
    }
    @include desktophd {
      &:not(:nth-child(4n+4)) {
        margin-right: 4%;
      }
    }
    &-img-wrap {
      width: 100%;
      margin-bottom: 14px;
      &>a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    &-img {
      width: 100%;
      max-width: none;
      height: auto;
    }
    &-data {
      margin-bottom: 17px;
      color: #807f7d;
      font-size: 12px;
    }
    &-title {
      display: inline-block;
      height: 32px;
      margin-bottom: 13px;
      @include link {
        color: #2b2a29;
        color: #2b2a29;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.3;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &-description {
      margin-bottom: 13px;
      color: #2b2a29;
      font-size: 13px;
    }
    &-link {
      margin-top: auto;
      font-size: 13px;
      @include link {
        text-decoration: underline;
        color: #2b2a29;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__item-inner {
    min-height: 167px;
    display: flex;
    flex-direction: column;
  }
}