<nav style="display: none;" id="mobile-menu">
    <ul>
        {% for item in menu  %}
        <li>
            <a
                onclick="$(this).prev('a').click();"
                {% if not item.children %}
                href="{{ item.url }}"
                {% endif %}>
                {{ item.title }}
            </a>
            {% if item.children %}
            <ul>
                {% for item in item.children %}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
