.main-page--error {
  margin-top: 80px !important;
  height: 700px;
  background-size: cover;
  background-image: url(./../image/404.jpg);
  @include mobile {
    background-image: url(./../image/404_s.jpg);
  }
  @include tablet {
    background-image: url(./../image/404_m.jpg);
  }
}

.error-page {
  display: flex;
  @include mobile {
    position: static;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 0;
  }
  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #2b2a29;
    font-family: 'CenturyGothic-Bold';
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    @include mobile {
      margin-bottom: 25px;
      font-size: 100px;
    }
  }
  &__description {
    width: 630px;
    margin-bottom: 40px;
    text-align: center;
    @include mobile {
      width: 100%;
      margin-bottom: 25px;
    }
    p {
      color: #807f7d;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__link {
    width: 154px;
    @include btn-link;
    &:hover {
      text-decoration: none;
    }
  }
}
