.main-menu-big {
  display: none;
  width: 260px;
  @include mobile {
    width: 290px;
    margin: 0 auto;
  }
  &__top-big__list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
  }
  &__top-big__list li {
    @include not-last {
      margin-bottom: 20px;
    }
  }
  &__top-big__list a {
    text-transform: uppercase;
    font-family: 'CenturyGothic-Bold';
    font-size: 14px;
    @include link {
      color: #000;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__list li {
    @include not-last {
      margin-bottom: 15px;
    }
  }
  &__list a {
    text-transform: uppercase;
    font-size: 14px;
    @include link {
      color: #2b2a29;
    }
  }
}
