{{ header }}

{# <section class="container-fluid section section-2 row">
    {{ content_top }}
</section> #}

<section class="container-fluid section section-3">
    <div class="row">{{ content_bottom }}</div>
</section>

{{ footer }}
