<div class="ais-InstantSearch w-100">
    <div class="melle-header-autocomplete">
        <div class="ais-Autocomplete">
            <div>
                <div class="d-flex align-items-stretch justify-content-start search-bar-wrapper">
                    <form action="{{action}}" class="d-flex align-items-stretch justify-content-start w-100 h-100 search-bar-form">
                        <div class="d-flex h-100 search-input-wrapper">
                            <input type="hidden" name="route" value="{{search_route}}">
                            <input
                                type="text"
                                name="query"
                                autocapitalize="off"
                                autocomplete="off"
                                autocorrect="off"
                                spellcheck="false"
                                maxlength="255"
                                placeholder="Поиск"
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
