{{ header }}
</section>

<link href="catalog/view/theme/default/stylesheet/dostavimstyle.css" rel="stylesheet">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="catalog/view/javascript/vendor/main.js"></script>

<main class="main-page">

   <section class="catalog">
      <div class="catalog__container container">

         {% if error_warning %}
         <div class="alert alert-danger">{{ error_warning }}</div>
         {% endif %}

         <h1 class="basket-form__title">{{ heading_title }}</h1>
