.panel-grid {
  display: flex;
  @include mobile {
    margin-top: 25px;
  }
  a {
    display: inline-block;
  }
  div {
    @include not-last {
      margin-right: 20px;
    }
    svg {
      fill: #d5d5d5;
    }
    &.active {
      fill: #d5d5d5;
    }
    &:hover,
    &.on {
      svg {
        fill: #2b2a29;
      }
    }
  }
}
