.lk-order {
  &__info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    &-data {
      span {
        color: #807f7d;
        font-size: 14px;
        &.data {
          color: #2b2a29;
        }
      }
    }
    &-status {
      span {
        color: #807f7d;
        font-size: 14px;
        &.status {
          color: #2b2a29;
        }
      }
    }
  }
  &__table {
    width: 100%;
    @include mobile {
      width: 700px;
    }
    &-wrap {
      @include mobile {
        overflow: auto;
      }
    }
    thead {
      th {
        height: 50px;
        text-align: center;
        vertical-align: middle;
        color: #807f7d;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        font-size: 14px;
        &:first-child {
          text-align: left;
        }
      }
    }
    tbody {
      td {
        padding: 30px 0;
        text-align: center;
        color: #2b2a29;
        border-bottom: 1px solid #e7e7e7;
        font-size: 14px;
        &:nth-child(1) {
          width: 83px;
          a {
            display: inline-block;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        &:nth-child(2) {
          padding-left: 40px;
          text-align: left;
          vertical-align: middle;
          @include tablet {
            padding-left: 20px;
          }
          .lk-order__title {
            margin-bottom: 6px;
            a {
              color: #2b2a29;
              font-size: 12px;
              font-weight: bold;
              &>h3 {
                color: #2b2a29;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
          .lk-order__article {
            margin-bottom: 15px;
            color: #807f7d;
            font-size: 12px;
          }
          .lk-order__manufacturer {
            color: #807f7d;
            font-size: 12px;
            a {
              text-transform: uppercase;
              @include link {
                color: #2b2a29;
              }
              @include link;
            }
          }
        }
        &:nth-child(3) {
          text-align: center;
          vertical-align: middle;
        }
        &:nth-child(4) {
          text-align: center;
          vertical-align: middle;
        }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
          width: 75px;
          text-align: center;
          vertical-align: middle;
          .lk-order__price {
            color: #2b2a29;
            &-old {
              display: block;
              text-decoration: line-through;
              font-size: 14px;
              line-height: 29px;
            }
            &-default {
              display: block;
              font-size: 18px;
              line-height: 29px;
            }
          }
        }
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    @include tablet {
      margin-right: auto;
      margin-bottom: 30px;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 30px;
    }
    &-title {
      width: 100%;
      margin-bottom: 25px;
      color: #2b2a29;
      font-size: 24px;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      @include not-last {
        margin-bottom: 10px;
      }
      @include mobile {
        flex-direction: column;
      }
    }
    &-left {
      width: 37%;
      @include mobile {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        color: #807f7d;
        font-size: 14px;
      }
    }
    &-right {
      width: 63%;
      @include mobile {
        width: 100%;
      }
      span {
        color: #2b2a29;
        font-size: 14px;
      }
    }
  }
  &__full-price {
    padding: 30px 35px;
    background: #e7e7e7;
    @include tablet {
      margin-left: auto;
    }
    @include mobile {
      width: 100%;
      padding: 20px 15px;
    }
    .full-price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #2b2a29;
      @include mobile {
        align-items: center;
      }
      &__number {
        font-size: 14px;
      }
      &__sum {
        margin-bottom: 10px;
        font-size: 12px;
      }
      &__discount {
        margin-bottom: 10px;
        font-size: 12px;
      }
      &__delivery {
        margin-bottom: 10px;
        font-size: 12px;
      }
      &__end {
        margin-bottom: 50px;
        font-size: 24px;
        @include mobile {
          font-size: 18px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    @include mobile {
      flex-direction: column;
      &>button {
        @include not-last {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__prev-button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    &>svg {
      margin-right: 10px;
      fill: #94918e;
    }
    &:hover {
      text-decoration: underline;
      &>svg {
        fill: #6a6969;
      }
    }
  }
  &__reset-button {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    &>svg {
      margin-right: 10px;
      fill: #94918e;
    }
    &:hover {
      text-decoration: underline;
      &>svg {
        fill: #6a6969;
      }
    }
  }
  &__send-button {
    width: 210px;
    @include btn-link;
    &:hover {
      text-decoration: none;
    }
  }
}