.mail-us {
  // display: none;
  width: 302px;
  color: #807f7d;
  @include mobile {
    width: 290px;
    margin: 0 auto;
  }
  &__title {
    font-size: 24px;
    color: #2b2a29;
    margin-bottom: 30px;
    position: relative;
    left: -2px;
  }
  &__form {
    width: 100%;
  }
  &__form-group {
    width: 100%;
    @include not-last {
      margin-bottom: 25px;
    }
  }
  &__form-label {
    display: block;
    color: #807f7d;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: -1px;
  }
  &__form-input {
    display: block;
    width: 100%;
    border: 0px;
    background-color: #e7e7e7;
    height: 35px;
    padding: 0 25px;
    font-size: 12px;
    color: #6d6b6a;
  }
  &__form-textarea {
    display: block;
    padding: 10px 25px;
    width: 100%;
    border: 0px;
    background-color: #e7e7e7;
    height: 75px;
    font-size: 12px;
    color: #6d6b6a;
  }
  &__form-send {
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #2b2a29;
    font-size: 14px;
    &:hover {
      background-color: #000;
    }
  }

  .field--checkbox {
    margin-bottom: 25px;

    label {
      font-size: 14px;
      color: #807f7d;
      display: flex;
    }

    .label-content {
      padding-left: 5px;
      line-height: 1.3em;
      position: relative;
      top: -2px;
    }

    input[type="checkbox"] {
      opacity: 0;
      display: none;
      width: 1px;
      height: 1px;

      + span {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        border: 1px solid #c1c1c1;
        background-color: #fff;
        min-width: 16px;

        &:after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center;
          position: relative;
          top: -1px;
          left: -1px;
        }
      }

      &:checked + span:after {
        background: url("../image/checkbox.png");
      }
    }
  }
}
