.v-select {
  width: 60%;

  .dropdown-toggle {
    padding: 0 15px !important;
    border: 0 !important;
    outline: none !important;
    background-color: #e7e7e7 !important;
    border-radius: 0px !important;

    .clear {
      bottom: 2px !important;
    }
  }

  .dropdown-menu {
    color: #6d6b6a !important;
    border: 0 !important;
    background-color: #f7f7f7 !important;
    font-size: 0.8rem !important;
  }

  .selected-tag {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 0.8rem !important;
    color: #6d6b6a !important;
    position: relative !important;
    left: 10px !important;
    top: 18px !important;
  }

  .open-indicator {
    bottom: 1px !important;
  }

  input[type='search'] {
    height: 28px !important;
    font-size: 11px !important;

    &:focus {
      height: 28px !important;
    }
  }

  &.unsearchable input[type='search'] {
    opacity: 1 !important;
  }

  &.no-search input[type='search'] {
    display: none !important;
  }
}
