.prod-card {
  &__container {
    display: flex;
    @include tablet {
      display: block;
    }
    @include mobile {
      display: block;
      max-width: 360px;
      margin: 0 auto;
    }
  }
  &__content {
    width: 100%;
    margin-left: vw_(30px);
    @include mobile {
      margin-left: 0;
    }
    @include tablet {
      margin-left: 0;
    }
  }
  &__content-main {
    display: flex;
    width: 100%;
    margin-bottom: vw_(50px);
    @include mobile {
      flex-direction: column;
      margin-bottom: 50px;
    }
    @include tablet {
      margin-bottom: 50px;
    }
  }
  &__photos {
    display: flex;
    @include tablet {
      width: 57%;
      margin-right: 3%;
    }
    @include mobile {
      flex-direction: column;
      width: 100%;
      margin-right: 0;
    }
  }
  &__list-photo {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: vw_(83px); // height: vw_(625px);
    margin: 0;
    margin-right: vw_(15px);
    padding: 0;
    list-style: none;
    @include tablet {
      justify-content: flex-start;
      width: 15%;
      height: auto;
      margin-right: 5%;
    }
    @include mobile {
      flex-direction: row;
      width: auto;
      height: auto;
      margin-right: 0;
      margin-bottom: 30px;
      &>.slick-list {
        margin-right: -15px;
      }
    }
    & .slick-active.slick-current {
      &:after {
        display: none;
      }
    }
    &>button {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: vw_(45px);
      transform: none;
      @include tablet {
        height: 45px;
      }
      @include mobile {
        width: 15px;
        height: 100%;
      }
      &:before {
        display: none;
      }
      &:hover {
        &>svg {
          fill: #9c9895;
        }
      }
      &>svg {
        width: vw_(20px)!important;
        height: vw_(20px)!important;
        fill: #cbc9c7;
        @include tablet {
          width: 20px!important;
          height: 20px!important;
        }
      }
      &.slick-next {
        &>svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__item-photo {
    position: relative;
    margin-bottom: vw_(15px);
    cursor: pointer;
    @include tablet {
      margin-bottom: 10px;
    }
    @include mobile {
      margin-right: 15px;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: rgba(#fff, 0.5);
    }
    &:hover {
      &:after {
        display: none;
      }
    }
    &>img {
      width: 100%;
      height: auto;
    }
  }
  &__list-big-photo {
    overflow: hidden;
    flex-shrink: 0;
    flex-shrink: 0;
    width: vw_(423px); // height: vw_(625px);
    margin: 0;
    margin-right: vw_(65px);
    padding: 0;
    list-style: none;
    @include tablet {
      width: 80%;
      height: auto;
      margin-right: 0;
    }
    @include mobile {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }
  &__item-big-photo {
    &>img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    flex-grow: 1;
    @include tablet {
      width: 40%;
    }

    #ivan-price-handler {
      margin-bottom: -5px;
      font-weight: 900;
      display: flex;

      .prod-card__form-group--send {
        width: 48%;
      }

      .one-click-button {
        margin-left: auto;

        a {
          line-height: 20px;
          text-align: center;
          background-color: #fff;
          color: #2b2a29;
          border: 1px #2b2a29 solid;
          height: vw_(74px);
          line-height: 20px;
          font-size: vw_(14px);
          @include tablet {
            width: 165px;
            height: 74px;
            font-size: 14px;
          }
          @include mobile {
            width: 100%;
            height: 74px;
            font-size: 14px;
          }

          &:hover {
            color: #fff;
            background-color: #2b2a29;
            border-color: #2b2a29;
          }
        }
      }
    }
  }
  &__category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw_(80px);
    height: vw_(40px);
    margin-bottom: vw_(30px);
    color: #fff;
    background-color: #2b2a29;
    font-size: vw_(24px);
    @include tablet {
      top: 90px;
      width: 80px;
      height: 40px;
      margin-bottom: 30px;
      font-size: 24px;
    }
    @include mobile {
      top: 90px;
      width: 80px;
      height: 40px;
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  &__title {
      font-weight: 600;
    margin-bottom: vw_(25px);
    color: #2b2a29;
    font-size: vw_(24px);
    @include tablet {
      margin-bottom: 25px;
      font-size: 28px;
    }
    @include mobile {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }
  &__count {
    display: flex;
    width: vw_(75px);
    color: #6d6b6a;
//    background-color: #e7e7e7;
    font-size: vw_(14px);
    @include tablet {
      width: 75px;
      font-size: 14px;
    }
    @include mobile {
      width: 75px;
      font-size: 14px;
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      width: 89%;
      @include tablet {
        width: 190px;
      }
      @include mobile {
        width: 220px; //счетчик товаров
      }
    }
    &>button {
      width: vw_(22px);
      height: vw_(30px);
      text-align: center;
      color: #6d6b6a;
      border: 0;
      padding: 0px;
      background-color: transparent;
      font-size: vw_(30px); //+- кнопки счетчика
      line-height: vw_(30px);
      padding: 0px;
      font-family: CenturyGothicRegular;
      @include tablet {
        width: 29px;
        height: 30px;
        font-size: 20px;
      }
      @include mobile {
        width: 19px;
        height: 30px;
        font-size: 20px;
      }
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
    &>input {
      width: vw_(36px);
      text-align: center;
      color: #000;
      border: 0;
      background-color: transparent;
      font-weight: bold;
      font-size: vw_(24px); //счетчик товара
      font-family: CenturyGothicRegular;
      @include tablet {
        font-size: 14px;
        width: 36px;
      }
      @include mobile {
        font-size: 14px;
        width: 36px;
      }
    }
  }
  &__form-group {

    .ivan-product-selectors {
      color: #251807;
      font-size: vw_(18px);
      @include tablet {
        font-size: 15px;
      }
      @include mobile {
        font-size: 15px;
      }
    }

    .ivan-size-radio {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      display: inline-block;
      display: flex;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      text-align: center;


      &:last-child {
        margin-right: 0px;
      }

      & input {
        position: absolute;
        opacity: 0;

        &.check ~ span {
          border: 2px #22e8f5 solid;
          // border-radius: 4px;
        }

        &.disabled ~ span {
          opacity: 0.3;
        }
      }

      & span {
        border: 1px #e3dbd8 solid;
        padding: 11px 17px;
      }
    }

    .ivan-color-radio {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      display: inline-block;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      text-align: center;


      &:last-child {
        margin-right: 0px;
      }

      & input {
        position: absolute;
        opacity: 0;

        &.check ~ span img {
          border: 2px #22e8f5 solid;
        }

        &.disabled ~ span {
          opacity: 0.3;
        }
      }

      & span {
        // border: 1px #e3dbd8 solid;
        // padding: 15px 21px;
        img {
          border: 1px #e3dbd8 solid;
          width: 45px;
          height: 45px;
            @include mobile {
                width: 30px;
                height: 30px;
            }
        }
      }
    }

    #ivan-js-size-list {
      width: 89%;
      display: flex;
        @include mobile {
            margin-left: 3px;
        }
    }

    #ivan-js-color-list {
      width: 89%;
      display: flex;
      @include mobile {
          margin-left: 33px;
      }
    }

    #tablitsa-razmerov {
      display: inline-block;
      //margin-left: auto;
      font-size: 0.83333vw;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      @include mobile {
        display: none;
      }
    }



    &--count {
      margin-bottom: vw_(5px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      & > span {
        margin-top: 8px;
        color: #807f7d;
          font-size: 0.83333vw;
        @include mobile {
          font-size: 12px;
        }
        @include tablet {
          font-size: 12px;
        }
      }
      .js-product-count{
        color: #000;
      }
      @include tablet {
        margin-bottom: 0px;
      }
      @include mobile {
        margin-bottom: 0px;
      }
    }
    &--size {
      margin-bottom: vw_(20px);
      @include tablet {
        margin-bottom: 20px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }
    &--color {
      margin-bottom: vw_(20px);
      @include tablet {
        margin-bottom: 20px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }
    &--rating {
      display: flex;
      margin-left: auto;
      // margin-bottom: vw_(20px);
      @include tablet {
        // margin-bottom: 20px;
      }
      @include mobile {
        flex-direction: row;
        justify-content: space-between;
        // margin-bottom: 20px;
      }
      &>span {
        margin-bottom: vw_(15px);
        color: #807f7d;
        font-size: vw_(14px);
        @include tablet {
          margin-bottom: 15px;
          font-size: 14px;
        }
        @include mobile {
          margin-bottom: 0;
          font-size: 14px;
        }
        &>a {
          font-size: vw_(14px);
          @include link {
            color: #807f7d;
          }
          @include tablet {
            font-size: 14px;
          }
          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
    &--send {
      & > .btn {
        width: 100%;
        font-size: vw_(14px);
        color: #fff;
        @include tablet {
          width: 165px;
          height: 74px;
          font-size: 14px;
        }
        @include mobile {
          width: 100%;
          height: 74px;
          font-size: 14px;
        }
      }
      & > .btn:hover {
        text-decoration: none;
      }
      margin-bottom: vw_(35px);
      @include tablet {
        margin-bottom: 35px;
      }
      @include mobile {
        margin-bottom: 35px;
      }
      & #add_trigger_button {
        width: 100%;
        @include btn;
        height: vw_(74px);
        display: block;
        line-height: 20px;
        font-size: vw_(14px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        @include tablet {
          width: 165px;
          height: 74px;
          font-size: 14px;
        }
        @include mobile {
          width: 100%;
          height: 74px;
          font-size: 14px;
        }
      }
    }
    &--price {
      margin-bottom: vw_(25px);
      @include tablet {
        margin-bottom: 25px;
      }
      @include mobile {
        margin-bottom: 25px;
      }
      & .prod-card__price {
        display: block;
        display: flex;
        align-items: flex-end;
        color: #2b2a29;
        &-ivanold {
          position: relative;
          margin-right: 20px;

          &::after {
            border-bottom: 0.13em solid #2b2a29;
            content: "";
            left: 0;
            // margin-top: calc(0.125em / 2 * -1);
            position: absolute;
            right: 0;
            top: 50%;
          }
        }
        &-old {
          margin-right: vw_(15px);
          text-decoration: line-through;
          line-height: vw_(29px);
          font-size: vw_(14px);
          @include tablet {
            margin-right: 15px;
            font-size: 14px;
            line-height: 29px;
          }
          @include mobile {
            margin-right: 15px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 29px;
          }
        }
        &-default {
          font-weight: bold;
          line-height: vw_(29px);
          font-size: vw_(44px);
          @include tablet {
            font-size: 24px;
            line-height: 29px;
          }
          @include mobile {
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }
    .prod-card__price {
      & > span {
        color: #2b2a29;
      }
    }
    &>div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &>span {
        color: #807f7d;
        font-size: vw_(12px);
        @include tablet {
          font-size: 12px;
        }
        @include mobile {
          font-size: 12px;
        }
      }
      &>select {
        width: 70%;
        @include tablet {
          width: 190px;
        }
        @include mobile {
          width: 190px;
        }
        &+span {
          width: 70%!important;
          @include tablet {
            width: 190px!important;
          }
          @include mobile {
            width: 190px!important;
          }
        }
      }
      span.select2 {
        .select2-selection__rendered {
          text-transform: none;
          color: #000;
          line-height: vw_(28px);
          font-size: vw_(12px);
          @include tablet {
            font-size: 12px;
            line-height: 28px;
          }
          @include mobile {
            font-size: 12px;
            line-height: 28px;
          }
          & img {
            margin-right: vw_(5px);
            @include tablet {
              margin-right: 5px;
            }
            @include mobile {
              margin-right: 5px;
            }
          }
        }
        .select2-selection {
          height: vw_(30px);
          padding: 0 vw_(5px);
          padding-right: vw_(20px);
          border: 0;
          border-radius: 0;
          outline: none;
          background-color: #e7e7e7;
          @include tablet {
            height: 30px;
            padding: 0 5px;
            padding-right: 20px;
          }
          @include mobile {
            height: 30px;
            padding: 0 5px;
            padding-right: 20px;
          }
        }
        .select2-selection__placeholder {
          text-transform: none;
          color: #6d6b6a;
          font-size: vw_(12px);
          @include tablet {
            font-size: 12px;
          }
          @include mobile {
            font-size: 12px;
          }
        }
        .select2-selection__rendered {
          height: 100%;
          padding: 0;
          &>span {
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
        .select2-selection__arrow {
          top: vw_(1px);
          right: vw_(1px);
          width: vw_(20px);
          height: vw_(26px);
          @include tablet {
            top: 1px;
            right: 1px;
            width: 20px;
            height: 26px;
          }
          @include mobile {
            top: 1px;
            right: 1px;
            width: 20px;
            height: 26px;
          }
          &>b {
            margin-top: vw_(-2px);
            margin-left: vw_(-4px);
            border-width: vw_(5px) vw_(4px) 0;
            @include tablet {
              margin-top: -2px;
              margin-left: -4px;
              border-width: 5px 4px 0;
            }
            @include mobile {
              margin-top: -2px;
              margin-left: -4px;
              border-width: 5px 4px 0;
            }
          }
        }
        &.select2-container--open {
          .select2-selection__arrow {
            &>b {
              border-width: 0 vw_(4px) vw_(5px);
              @include tablet {
                border-width: 0 4px 5px;
              }
              @include mobile {
                border-width: 0 4px 5px;
              }
            }
          }
        }
      }
    }
    & .submit-default {
      display: flex;
      align-items: center;
      padding: 0;
      cursor: pointer;
      color: #a3a2a2;
      border: 0;
      background: transparent;
      &:hover {
        color: #b2b2b2;
        &>svg {
          color: #b2b2b2;
        }
      }
      &>svg {
        width: vw_(20px)!important;
        height: vw_(20px)!important;
        fill: #a3a2a2;
        @include tablet {
          width: 20px!important;
          height: 20px!important;
        }
        @include mobile {
          width: 20px!important;
          height: 20px!important;
        }
      }
      &>span {
        margin-left: vw_(5px);
        @include tablet {
          margin-left: 5px;
        }
        @include mobile {
          margin-left: 5px;
        }
      }
    }
  }
  &__article {
    margin-bottom: vw_(15px);
    color: #807f7d;
    font-size: vw_(12px);
    @include tablet {
      margin-bottom: 15px;
      font-size: 12px;
    }
    @include mobile {
      margin-bottom: 15px;
      text-align: left;
      font-size: 12px;
    }
  }
  &__manufacturer {
    margin-bottom: vw_(15px);
    font-size: vw_(18px);
    color: #000;
    span {
      color: #807f7d;
    }
    @include tablet {
      margin-bottom: 25px;
      font-size: 12px;
    }
    @include mobile {
      margin-bottom: 15px;
      text-align: left;
      font-size: 12px;
    }
    &>a {

      text-transform: uppercase;
      @include link {
        color: #2b2a29;
      }
      @include link;
    }
  }
  &__description {
      margin-bottom: 15px;
    color: #2b2a29;
    font-size: vw_(18px);
    @include tablet {
      font-size: 12px;
    }
    @include mobile {
      font-size: 12px;
    }
  }
  .select2-results__options {
    max-height: vw_(200px)!important;
    @include tablet {
      max-height: 200px!important;
    }
    @include mobile {
      max-height: 200px!important;
    }
  }
  .select2-results__option {
    padding: vw_(10px) vw_(5px);
    font-size: vw_(12px);
    @include tablet {
      padding: 10px 5px;
      font-size: 12px;
    }
    @include mobile {
      padding: 10px 5px;
      font-size: 12px;
    }
    &>span {
      display: flex;
      align-items: center;
    }
  }
  .select-img {
    display: inline-block;
    flex-shrink: 0;
    width: vw_(20px);
    height: vw_(20px);
    margin-right: vw_(5px);
    border: 1px solid #c5c5c5;
    @include tablet {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    @include mobile {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}

section[data-layout="col"] .catalog__form-group > label span.select2 .select2-selection__rendered {
  color: #000;
}
