<ul class="nav nav-tabs">
    {% for tab in tabs %}
        <li class="{{tab.active?'active'}}">
            <a {{not tab.active? 'href="'~tab.href~'"'}}>
                <span  class="{{tab.icon}}"></span> {{tab.title}}
            </a>
        </li>
    {% endfor %}
</ul>